a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Muller', Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title {
    margin: 0;
    padding: 60px 0 44px;
    color: #000000;
    font-size: 46px;
    font-weight: 800;
}

.section__title--white {
    color: #ffffff;
}

/*header--------------------------------------------------------------------------------------------------*/

.header {
    background-color: #ffffff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px;
    margin: 0 15px;
}

.header__callback {
    width: 231px;
}

.header-callback__number {
    color: #000000;
    font-size: 23px;
    font-weight: 800;
    padding-left: 5px;
}

.header-callback__button {
    height: 33px;
    width: 231px;
    background-color: #3d78b7;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.nav__list {
    display: flex;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.header__button {
    display: none;
}

.nav__item:not(:last-child) {
    margin-right: 29px;
}

.header-search__form {
    display: flex;
    flex-direction: column;
}

.header-search__text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.header-search__input {
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    height: 33px;
    width: 131px;
    border-radius: 5px;
    border: 2px solid #3d78b7;
    background: url("../images/header-loupe.png") no-repeat 108px 8px;
}

.nav__search {
    display: none;
}

/*hero-----------------------------------------------------------------------------------------------------*/

.hero {
    background-image: url("../images/background_hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 5px 27px rgba(0, 0, 0, 31%);
}

.hero__inner {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px;
}

.hero__title {
    width: 290px;
    margin: 0 0 45px;
}

.hero-title__text {
    margin: 0;
    color: #ffffff;
    font-size: 43px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero__advantage {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
}

.hero-advantage__item {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}

.hero-advantage__img {
    padding-right: 17px;
}

/*product--------------------------------------------------------------------------------------------------*/

.product {
    background-color: #efefef;
}

.product__inner {
    padding: 0 0 50px;
}

.product__menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    margin: 0 0 30px 0;
}

.product-menu__item {
    background-color: #ffffff;
    color: #3d78b7;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid #3d78b7;
    padding: 11px 35px;
}

.product__macadam {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
}

.product-macadam__item {
    display: flex;
    width: calc(100% / 4 - 15px);
}

.product-macadam__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px #bfbfbf solid;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 14%);
    padding: 0 15px;
}

.product-macadam__img {
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-macadam__title {
    margin: 0;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
}

.product-macadam__text {
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 15px;
}

/*service---------------------------------------------------------------------------------------------------*/

.service {
    background-color: #efefef;
    padding-bottom: 85px;
}

.service__review {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.service-review__title {
    text-align: center;
    margin: 0;
    padding-top: 30px;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
}

/*product-----------------------------------------------------------------------------------------------*/

.products {
    background-color: #efefef;
}

.products__inner {
    padding: 0 0 55px;
}

.products__title h2 {
    margin: 0;
    color: #000000;
    font-size: 46px;
    font-weight: 800;
    padding: 0 0 43px
}

.products__info {
    display: flex;
    justify-content: space-between;
}

.products-info__text {
    margin-right: 85px;
    color: #000000;
    font-size: 19px;
    font-weight: 700;
}

.products__info p {
    margin: 0;
}

.products__info p:not(:last-child) {
    padding-bottom: 27px;
}

/*company--------------------------------------------------------------------------------------------------*/

.company {
    background-image: url("../images/company_fon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.company__text p {
    margin: 0;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
}

.company__text p:not(:last-child) {
    padding: 0 0 25px 0;
}

.company__detail {
    display: flex;
    justify-content: center;
}

.company__detail-link {
    color: white;
    font-size: 21px;
    font-weight: 400;
    background-color: #3e78b6;
    padding: 22px 70px;
    border-radius: 5px;
    margin: 50px 0 30px;
}

/*application--------------------------------------------------------------------------------------------*/

.application {
    background-color: #efefef;
}

.application__inner {
    padding: 0 0 55px;
    max-width: 970px;
    margin: 0 auto;
}

.application__subtitle {
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}

.application__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.application-form__item {
    width: calc(100% / 2 - 10px);
    display: flex;
    padding-bottom: 20px;
}

.application-form__item:nth-child(even) {
    padding-left: 20px;
}

.application-form__item input {
    padding: 15px;
    border: 2px solid #b5b5b5;
    color: #8b8b8b;
    font-size: 19px;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}

.application-form__item--full {
    width: 100%;
    padding-bottom: 0;
}

.application-form__item textarea {
    color: #8b8b8b;
    font-size: 19px;
    font-weight: 400;
    border: 2px solid #b5b5b5;
    border-radius: 5px;
    padding: 18px 0 0 23px;
    margin-bottom: 55px;
    width: 100%;
}

.application-form__btn button {
    border: none;
    color: #ffffff;
    font-size: 21px;
    font-weight: 400;
    background-color: #407ab8;
    border-radius: 5px;
    width: 256px;
    height: 62px;
}

/*footer--------------------------------------------------------------------------------------------*/

.footer {
    background-color: #e1e1e1;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 25px;
}

.footer__callback {
    width: 231px;
}

.footer-callback__number {
    color: #000000;
    font-size: 23px;
    font-weight: 800;
    padding-left: 5px;
}

.footer-callback__button {
    height: 33px;
    width: 231px;
    background-color: #3d78b7;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.footer__menu {
    display: flex;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.footer-menu__item:not(:last-child) {
    margin-right: 29px;
}

.footer-search__form {
    display: flex;
    flex-direction: column;
}

.footer-search__text {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}

.footer-search__input {
    color: #696969;
    font-size: 14px;
    font-weight: 400;
    height: 33px;
    width: 131px;
    border-radius: 5px;
    border: 2px solid #3d78b7;
    background: url("../images/header-loupe.png") no-repeat 108px 8px;
}

.header__menu-btn {
    display: none;
}

/*Адаптив------------------------------------------------------------------------------------------------------*/
/*1100px------------------------------------------------------------------------------------------------------*/

@media (max-width: 1100px) {
    .header {
        position: sticky;
        top: 0;
    }

    .header__inner {
        padding: 10px 0;
    }

    .header__button {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: transparent;
        order: 10;
        border: none;
        cursor: pointer;
        position: relative;
    }

    .header-button__line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #3d78b7;
        height: 4px;
        border-radius: 2px;
        transition: .3s ease;
    }

    .header-button__line:nth-child(1) {
        top: 0;
    }

    .header-button__line:nth-child(2) {
        top: 20px;
    }

    .header-button__line:nth-child(3) {
        top: 20px;
    }

    .header-button__line:nth-child(4) {
        top: 40px;
    }

    .button-open .header-button__line:nth-child(1) {
        transform: scaleX(0);

    }

    .button-open .header-button__line:nth-child(2) {
        transform: rotate(45deg);
    }

    .button-open .header-button__line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .button-open .header-button__line:nth-child(4) {
        transform: scaleX(0);
    }

    .header__button {
        display: block;
    }

    .header__nav {
        position: absolute;
        left: -100%;
        top: 100%;
        background: #3d78b7;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .header__nav.active {
        left: 0;
    }

    .nav__search {
        display: block;
    }

    .nav__list {
        margin: 20px;
    }

    .nav__item {
        display: flex;
        justify-content: center;
        padding: 20px;
        color: white;
        font-size: 20px;
    }

    .header-search__inputs {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        height: 33px;
        width: 131px;
        border-radius: 5px;
        border: 2px solid #ffffff;
        margin-bottom: 15px;
    }

    .header__callback {
        display: none;
    }

    .header__search {
        display: none;
    }

    .hero-title__text,
    .hero-advantage__text {
        text-shadow: 1px 1px 4px #000000;
    }

    .product-macadam__item {
        width: calc(100% / 3 - 15px);
    }

    .footer__inner {
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;
    }

    .footer-menu__item:not(:last-child) {
        margin-right: 15px;
    }
}

/*975px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 975px) {
    .footer__inner {
        flex-direction: column;
    }
}

/*900px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 900px) {
    .products-info__img {
        order: -1;
    }

    .products-info {
        flex-wrap: wrap;
        row-gap: 25px;
    }

    .products-info__text {
        margin-right: 0;
    }

    .products-info__img img {
        width: 100%;
    }
}

/*785px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 785px) {
    .nav__list {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav__item:not(:last-child) {
        margin: 0;
    }

    .product-macadam__item {
        width: calc(100% / 2 - 15px);
    }
}

/*590px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 590px) {
    .service__review {
        row-gap: 25px;
        justify-content: center;
    }

    .service-review__title {
        padding-top: 12px;
    }
}

/*540px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 540px) {
    .product__macadam {
        justify-content: center;
    }

    .product-macadam__item {
        width: 90%;
    }

    .footer__menu {
        flex-direction: column;
    }

    .footer-menu__item {
        text-align: center;
    }

    .footer-menu__item:not(:last-child) {
        margin-right: 0;
    }
}

/*430px-----------------------------------------------------------------------------------------------------*/

@media (max-width: 430px) {
    .hero__advantage {
        font-size: 21px;
    }

    .nav {
        row-gap: 8px;
    }

    .product__menu {
        row-gap: 8px;
    }

    .product-menu__item {
        width: 100%;
        padding: 9px 35px;
        text-align: center;
    }

    .service__review,
    .product__macadam {
        row-gap: 15px;
    }

    .service {
        padding-bottom: 50px;
    }

    .company__text p:not(:last-child) {
        padding-bottom: 15px;
    }

    .section__title,
    .hero-title__text {
        font-size: 40px;
        padding: 35px 0 20px;
    }

    .application__subtitle {
        font-size: 25px;
        padding-bottom: 30px;
    }

    .application-form__item input {
        font-size: 16px;
    }

    .application-form__item textarea {
        font-size: 16px;
        margin-bottom: 30px;
    }
}

@media (max-width: 430px) {
    .application-form__item input,
    .application-form__item textarea {
        font-size: 12px;
    }
}